# Lines that start with '#' are comments.
*~
src/java/com/cloudera/flume/package-info.java
src/gen-java/com/cloudera/flume/conf/RuntimeRecognitionException.java
build/
build_eclipse/
*.diff
*#
.classpath
.project
.settings
bin/flume-env.sh
conf/flume-site.xml
bin/.settings
libtest/
lib/ivy-*.jar