# Lines that start with '#' are comments.
*~
*.diff
*#
.classpath
.project
.settings
bin/flume-env.sh
conf/flume-site.xml
bin/.settings
.eclipse
pmd_report.html
*/bin
target
patchprocess
derby.log
.idea
*.iml
nb-configuration.xml
.DS_Store
/.mvn/wrapper/maven-wrapper.jar
**/metastore_db
# Flatten Maven Plugin
.flattened-pom.xml
# Maven extensions
.mvn/extensions.xml

# Node dependencies
/node_modules/
